# OSX
#
.idea
.DS_Store
npm-debug.log
npm-debug.log*
coverage
.nyc_output
yarn.lock
yarn-error.log
lerna-debug.log
.vscode/*
testgrounds
IntegrationTest
integration_test
ios/Pods
package-lock.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Gradle
build/
.gradle

# Local configuration file (sdk path, etc)
local.properties

# TS build
/build

# Google Services (e.g. APIs or Firebase)
google-services.json

# Local project files
workspace/*
